# Cấu hình Database (MariaDB / MySQL)
DB_ROOT_PASSWORD=root_secret_password
DB_NAME=cms-cuoiky
DB_USER=wp_user
DB_PASSWORD=wp_user_password

# Cấu hình Cổng truy cập (Port)
WP_PORT=8000
PMA_PORT=8081
