<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:pattern {"slug":"car-exhibition/banner"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Event Section"},"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<main id="content" class="wp-block-group" style="margin-top:0px;margin-bottom:0px"><!-- wp:pattern {"slug":"car-exhibition/event-section"} /--></main>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"car-exhibition/driving-section"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
